@tailwind base;
@tailwind components;
@tailwind utilities;

/* React toastift css */
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.ql-editor::before {
  color: #888; /* Change this to your desired color */
  font-style: italic; /* Optional: make it italic */
}
